%% -*- erlang -*-
%% Config file for spi application
{erl_opts, [debug_info, fail_on_warning,{parse_transform,lager_transform}]}.
{sub_dirs, ["src"]}.

{deps,  [ 
	  {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git"}}
	]}.

{port_env, [
	    {"CFLAGS", "$CFLAGS -DDLOG_DEFAULT=DLOG_NONE"}
	   ]}.

{port_specs, [
	      {"(linux)","priv/spi_drv.so",
	       [ "c_src/spi_drv.c" ]}
	     ]}.

